<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/auth.css" />
   
    <title>Registration</title>
  </head>

  <body>
    <section>
      <div class="login-container">
        
        <h2>Sign Up</h2>

        <form action="/register" method="post">

          <div class="input-box">
            <span class="icon">
              <i class="fa-solid fa-user"></i>
            </span>
            <input required type="text" id="name" name="name">
            <label for="name">Enter your username</label>
          </div>

          <div class="input-box">
            <span class="icon">
              <i class="fa-solid fa-envelope"></i>
            </span>

            <input required type="text" id="email" name="email">
            <label for="email">Enter your email</label>
          </div>
  
          <div class="input-box">
            <span class="icon">
              <i class="fa-solid fa-lock"></i>
            </span>

            <input required type="password" id="password" name="password">
            <label for="password">Enter your password</label>
          </div>
  
          <div class="remember-forgot">
            <label>
              <input type="checkbox"> Remember me
            </label>
  
          </div>

          <button type="submit">Create account</button>
        </form>

        <div class="create-account">
            <a href="#">Log in</a>
        </div>
      </div>
    </section>
    <!-- Include the error popup -->
    <div id="error-popup" class="error-popup" style="display: none;">
      <div class="error-content">
          <span class="close-button" onclick="closeErrorPopup()">&times;</span>
          <p id="error-message">An error occurred. Please try again.</p>
      </div>
  </div>

    <!-- Link to the external JavaScript file -->
    <script src="/assets/js/auth.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          showErrorPopup("Yooooooo");
      });
  </script>
  </body>
</html>
